:root {
  --layout-background: #f0f2f5;
  --color-ok: #52c41a;
  --color-fail: red;
  --color-primary: #40a9ff;
  --rhythm: 8px;
}

.ant-form.cell-form .ant-form-explain {
  z-index: 1;
}

.ant-table-row.is-right-clicked {
  background: #f0f2f5;
}

body .smalltalk {
  z-index: 1500;
}

.info .ant-row {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.info .ant-row > div {
  display: flex;
  align-items: center;
}

.modal-file-navigator {
  max-height: 50vh;
  min-height: 150px;
  overflow-y: scroll;
}
.modal-file-navigator .ant-menu-vertical > .ant-menu-item {
  line-height: 24px;
  height: 24px;
}
.modal-file-navigator .ant-menu-vertical > .ant-menu-item:nth-child(even) {
  background-color: #f5f5f4;
}

.color--primary {
  color: var( --color-primary );
}

.is-optional {
  opacity: 0.7;
}

.modal--instant .ant-modal-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
}

.method-title i {
  opacity: 0.7;
}

.command-opt-description {
  font-size: 13px;
  line-height: 18px;
  padding: 8px 0;
}

.command-description svg {
  fill: var(--color-primary);
}

/* goto.URL screen wide in form builder */
.ant-row.ant-form-inline.edit-command-inline .ant-row.ant-form-item {
  display: flex;
}

.ant-row.ant-form-inline.edit-command-inline .ant-row.ant-form-item  .ant-form-item-label {
  flex: 0 0 auto;
}
.ant-row.ant-form-inline.edit-command-inline .ant-row.ant-form-item .ant-form-item-control-wrapper {
  flex: 1 1 auto;
}

.ant-alert-description > ul {
  padding-left: 16px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.npm-install .ant-progress {
  width: calc(100% - 32px);
}
.npm-install.with-bytes .ant-progress {
  width: calc(100% - 80px);
}


.npm-install .ant-alert {
  margin-top: 24px;
}

.is-not-ready {
  opacity: .5;
}

.checkbox-group--vertical .ant-checkbox-group-item {
  display: block;
}

.checkbox-group--vertical .ant-checkbox-group-item:not(:last-child) {
  margin-bottom: 8px;
}

.bottom-line {
  padding-bottom: 8px;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 8px;
}

.disable-dnd * {
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  user-drag: none !important;
}

.test-report__ok svg {
  fill: var(--color-ok);
}
.test-report__fail svg {
  fill: var(--color-fail);
}

.test-report__suite {
  padding: 4px 8px 4px 8px;
}
.test-report__describe {
  padding: 4px 8px 4px 24px;
}
.test-report__it {
  padding: 4px 8px 4px 24px;
}
.test-report__it__title {
  color: gray;
}
.test-report__it__exception {
  padding: 4px 8px 4px 32px;
  color: var(--color-fail);
}

.welcome {
  padding: 0 16px;
}

/* Ignore content of A for e.target */
a > .anticon {
  pointer-events: none;
}

body {
  background-color: #f0f2f5;
}

.is-hidden {
  display: none !important;
}

.row--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--instant .ant-modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: initial;
  height: 100vh;
  left: 0;
  width: 100vw;
  margin: 0;
  position: absolute;
  background-color: transparent;
  border: 0;
}

.modal--instant .ant-modal-wrap .ant-modal {
  width: 520px;
  max-height: 90%;
  padding: 0;
  top: initial;
}
.modal--instant.modal--instant-command .ant-modal-wrap .ant-modal {
  width: 90%;
}
.ant-modal-sentinel {
  width: 0;
  height: 0;
  overflow: hidden;
}

.token--target {
  font-weight: bold;
}
.token--param {
  opacity: 0.7;
}

.link--action {
  padding: 12px 4px;
}
.link--action + .ant-divider-vertical {
  margin-left: 4px;
  margin-right: 4px;
}

.is-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  white-space: nowrap; /* 1 */
}



.ant-form-explain > span {
  font-size: 13px;
  color: #ad6800;
}

[draggable=false] {
  -webkit-user-drag: none;
  user-select: none;
}

.critical-error {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.critical-error > * {
  flex: 0 0 auto;
}
.critical-error h2 {
  font-size: 48px;
}
.critical-error h1 {
  font-size: 28px;
}
.critical-error p {
  font-size: 14px;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.tr-badge {
  padding: 8px;
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.tr-badge.is-ok {
  background: var(--color-ok);
}

.tr-badge.is-fail {
  background: var(--color-fail);
}

.tr-row {
  margin: 0;
}
.tr-row > dt {
  width: 120px;
}
.tr-row > * {
  display: inline-block;
  padding: 4px 8px;
}

nav >  ul, nav >  ul ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.layout {
  min-height: 100vh;
}

.ant-menu-item > kbd::before {
  content: "\0000a0";
}
.ant-menu-item > kbd {
  font-size: .8em;
  opacity: 0.8;
}

.layout-content {
  /* where header/footer height is 52px */
  height: calc(100vh - 52px - 52px);
  /* overflow-y: auto; */
  padding: 16px 16px 0 16px;
  /* disabling margincollapsing  */
  display: inline-block;
  width: 100%;
}

.layout-content > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.layout-content > .ant-tabs-card > div.ant-tabs-bar {
  margin: 0;
}

/*.layout-content .ant-table-body > table tr > td {
  padding: 8px;
}*/

/* Project navigator takes all available space vertically*/
.ant-layout-sider-children {
  display: flex;
  flex-flow: column nowrap;
}

.ant-layout-sider-children > *:not(:last-child) {
  flex: 0 0 auto;
}
.ant-layout-sider-children .project-navigator {
  flex: 1 1 auto;
}

root > .ant-spin {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: var(--layout-background);
}

root > .ant-spin > * {
  flex: 0 0 auto;
}


.project-navigator {
  margin: 8px 0 0 0;
  background: #002549;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  color: rgba(255, 255, 255, 0.65);
  /*display: flex;
  flex-flow: column nowrap;*/
}
.project-navigator__nav {
  /*flex: 1 1 auto;*/
  padding: 0;
  max-width: 250px;
  height: calc(100vh - 364px);
  overflow-y: auto;
}

.project-navigator__nav:first-child {
  padding-top: 8px;
}
.project-navigator__nav:last-child {
  padding-bottom: 8px;
}

.project-navigator__selection {
  background: #002f5c;
}

.project-navigator__nav  ul {
  height: 100%;
  max-height: calc(100vh - 324px);
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-navigator__nav > .project-navigator__li {
  opacity: 0.6;
}

project-navigator__li:hover {
  color: white;
}

.project-navigator__li {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  padding: 6px 16px;
  user-select: none;
  border: solid 1px transparent;
}
.project-navigator__li > ul {
  margin: 4px 0;
}

li.project-navigator__li {
  padding-left: 24px;
}

.project-navigator__li.is-active {
  background: #00529e;
  color: white;
}

.project-navigator__nav .is-clicked {
  /*
  background: rgb(0, 21, 41);
  color: white;
  */
  border: dotted 1px white;
}

.project-navigator__add {
  position: absolute;
  display: block;
  right: 16px;
  top: 8px;
  color: rgba(255, 255, 255, 0.65);
}
.project-navigator__open {
  position: absolute;
  display: block;
  right: 34px;
  top: 8px;
  color: rgba(255, 255, 255, 0.65);
}
.project-navigator__open:hover,
.project-navigator__add:hover {
  color: white;
}

.project-navigator h2 {
  flex: 0 0 auto;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  padding: 8px 16px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.ant-layout-sider-collapsed .project-navigator {
  opacity: 0;
  transition: none;
}

/* special layout for input:disabled + button browser */
.fieldset-browse {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.fieldset-browse > .ant-form-item:first-child {
  flex: 1 1 100%;
  padding-right: 8px;
}
.fieldset-browse > .ant-form-item:last-child {
  flex: 0 0 auto;
}

/* centring spinner for the entire layout */
root > .ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
  height: 100vh;
  position: fixed;
}

.toolbar {
   -webkit-app-region: drag;
   width: 100%;
   padding: 8px 24px;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   background: #d7dde4;
   padding-left: 16px;
}

.toolbar > div:first-child {
  flex: 1 1 100%;
  display: inline-block;
  font-size: 16px;
}

.toolbar > div:last-child {
  flex: 0 0 auto;
  text-align: right;
}

.toolbar a {
   -webkit-app-region: no-drag;
}

[data-balloon] {
  line-height: 16px;
  font-size: 14px;
  text-align: left;
}

/* prevent Tooltips hiding within label */
.command-form .ant-form-item-label {
  overflow: initial;
}

/* Inline rows look to narrow, give them a pad  */
.command-form .ant-form-inline .ant-row {
 padding-top: 8px;
 padding-bottom: 8px;
}

/* fixing right pad on nested tables */
.group-table .ant-table-expanded-row-level-1 > td:last-child {
  padding-right: 0;
}

.command-form__fieldset legend {
  font-size: 14px;
  border-style: dashed;
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 82px;
  position: relative;
  background: #002140;
  width: 100%;

}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  font-size: 24px;
  margin: 0 0 0 8px;
  color: white;
}

.logo .logo__item {
  position: absolute;
  height: 50px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  will-change: opacity, transform;

}

.logo__item h1 span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: white;
  opacity: .9;
  text-align: center;
}

.logo__item.logo__collapsed {
  left: calc(50% - 25px);
}

.logo__item.logo__expanded {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: calc(50% - 77px);

}

.logo.is-collapsed > .logo__collapsed {
  opacity: 1;
  transform: scale(1);
}
.logo.is-expanded > .logo__collapsed {
  transition: none;
}
.logo.is-expanded > .logo__expanded {
  opacity: 1;
  transform: scale(1);
}
.logo.is-collapsed > .logo__expanded {
  transition: none;
}

.layout-icon {
font-size: 24px;
color: #000;
margin-left: 8px;
}

.char-pad--left {
  margin-left: 4px;
}

.ant-layout > .ant-layout-footer {
padding: 8px 24px;
}
.ant-form.cell-form .ant-form-item {
margin-bottom: 0;
}

.ant-form.cell-form .ant-form-explain {
position: absolute;
padding: 6px;
background-color: rgba(255, 255, 255, .8);
}

.ant-form.suite-form {
margin: 16px 16px 16px 16px;
}

.box-margin-left {
  margin-left: 8px;
}

.box-margin-right {
  margin-right: 8px;
}

.box-margin-horizontal {
  margin-left: 8px;
  margin-right: 8px;
}

.box-margin-vertical {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* Prevent nested table doesn't peek out of host */
.ant-table-wrapper {
  width: 100%;
}

.ant-table-tbody > tr.ant-table-expanded-row td > .ant-table-wrapper {
  margin: -16px -16px -17px 0;
}

.container--editable-cell {
  padding-right: 24px;
}

.container--editable-cell .anticon:first-child {
  margin-right: 5px;
}
.container--editable-cell [data-balloon] + .anticon {
  margin-right: 5px;
}

.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}

.editable-cell {
position: relative;
}

.editable-cell-icon,
.editable-cell-icon-check {
  cursor: pointer;
}


.editable-cell-icon {
  line-height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  display: none;
}

td:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.ant-table-tbody > tr.ant-table-expanded-row:hover > td {
  background: none;
}

.ant-table-tbody > tr:hover > td {
  background: #e6f7ff;
}

.btn--save {
  margin-right: 8px;
}

.td {
  margin: 0;
}

.row-failure > td {
  background-color: #ffeceb;
}

.row-failure:hover > td {
  background-color: #ffd4d2 !important;
}

.row-failure .char-pad--left {
  float: right;
  color: #ea271e;
  line-height: 21px;
}

.row-disabled > td {
  color: rgba(0,0,0, .5);
  background-color: #fff3e0;
}
.row-disabled:hover > td {
  background-color: #fee0b0 !important;
}

.row-failure .table-actions-cell,
.row-disabled .table-actions-cell {
  position: relative;
}

.row-failure .table-actions-cell::after,
.row-disabled .table-actions-cell::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 4px;
  background-color: #e65100;
}


/* Preventing D&D on actions cell */
.ant-table-tbody > tr > td.table-actions-cell {
  padding: 0;
}

.table-actions {
  width: 160px;
  padding: 16px 8px;
  display: inline-block;
  cursor: initial;
}

.draggable-table tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

.draggable-table tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}

.ant-table-row-expand-icon-cell {
  padding-left: 8px;
  padding-right: 8px;
}

.ant-table-footer__toolbar button + button {
  margin-left: 8px;
}

.run-in-browser__layout {
  display: flex;
  justify-content: space-between;
}

.run-in-browser__layout {
  color: rgba(0, 0, 0, 0.65);
}

.run-in-browser__layout .ant-form-item-label label {
  color: rgba(0, 0, 0, 0.65);
}


/* Begin: Sticky app panels */

.has-sticky-tabs-panel .layout-content > .ant-tabs {
  overflow: initial;
}

.has-sticky-tabs-panel .layout-content > .ant-tabs > .ant-tabs-content > .ant-tabs-tabpane {
  padding-top: 0;
}

.has-sticky-tabs-panel .ant-tabs-content.ant-tabs-content-no-animated.ant-tabs-top-content.ant-tabs-card-content {
  height: calc(100vh - 52px - 52px - 72px);
  overflow-y: auto;
}

.has-sticky-tabs-panel .panes-container > .ant-tabs {
  position: static;
  overflow: initial;
}

.has-sticky-tabs-panel .panes-container > .ant-tabs > .ant-tabs-bar {
  position: sticky;
  top: 0;
  background: white;
  z-index: 900;
  width: 100%;
  padding-top: 16px;
}

/* End: Sticky app panels */

.disable-dnd td {
  cursor: initial !important;
}

.disable-expand > .ant-table-row-expand-icon-cell > * {
  display: none;
}


.settings-git-form .ant-form-item {
  display: flex;
}
.settings-git-form .ant-form-item > .ant-form-item-label {
  flex: 0 0 152px;
  /* text-align: left; */

}
.settings-git-form .ant-form-item > .ant-form-item-control-wrapper {
  flex: 1 0 auto;
}

.form-buttons .ant-form-item-children {
  float: right;
}

.ant-dropdown-menu-item-disabled a {
  opacity: 0.6;
  cursor: not-allowed;
}
/* in commands list highlight refs (sippets) */
.command--ref {
  color: #1890ff;
}
/* when opening in TestReports error details the layout was broken */
.report-panel-tab {
  height: calc(100vh - 158px);
  overflow-y: auto;
}

.select-group-inline {
  display: flex;
  align-items: center;
}
.select-group-inline__label svg {
  font-size: 18px;
}

.select-group-inline > a {
  margin-left: 8px;
}
.select-group-inline__label {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  margin-right: 8px;
}


.markdown p:first-child {
  margin-top: 0;
}
.markdown p:last-child {
  margin-bottom: 0;
}

.command-section-description {
  margin-top: 0;
  margin-bottom: 1em;
}
.command-row-description {
  font-size: 13px;
  line-height: 18px;
  padding: 8px 0 0 8px;
}

.markdown.command-row-description {
  padding: 0 0 16px 0;
}

.command-description svg {
  fill: var(--color-primary);
}

.command-options-panel .ant-collapse-header {
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  display: flex;
  align-items: center;
}
.command-options-panel .ant-collapse-header .anticon-right-circle {
    margin-top: 5px !important;
}
.command-options-panel .ant-collapse-header svg {
  width: 18px;
  height: 18px;
}

.template-helper {
  display: flex;
  padding: 0 0 16px 0;
  align-items: center;
  color: rgba(0, 0, 0, 0.45);
}
.template-helper > span {
  flex: 0 1 auto;
  line-height: 1.4;
}
.template-helper > .ant-select {
  margin-left: 8px;
  max-width: 200px;
  min-width: 80px;
}

.template-helper > .ant-btn, .template-helper > .ant-input {
  margin-left: 8px;
  max-width: 200px;
  min-width: 80px;
}

.markdown code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.command-form > .markdown.command-row-description {
  font-size: 14px;
}

/* Test Reports modal */
.run-in-browser + .select-group-inline {
  margin: 8px 0;
}

.learn-more {
  text-transform: uppercase;
  font-size: .8em;
}

.container--editable-cell {
  word-break: break-all;
  overflow-wrap: break-word;
}

.is-checkbox-group-scrollable .ant-checkbox-group {
  height: calc(100vh - 467px);
  width: 100%;
  overflow-y: auto;
}

.is-checkbox-group-scrollable-export .ant-checkbox-group {
  height: calc(100vh - 614px);
  width: 100%;
  overflow-y: auto;
}

.ant-layout-sider .project-navigator__nav::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #d8e1e9;
}

.ant-layout-sider .project-navigator__nav::-webkit-scrollbar
{
	width: 12px;
	background-color: #d8e1e9;
}

.ant-layout-sider .project-navigator__nav::-webkit-scrollbar-thumb
{
	background: #879fb6;
  width: 10px;
  border: 1px solid #bdc4cb;
}

.export-desc {
  margin: 8px 0 16px 0;
}

.under-field-decription {
  margin-top: -24px;
  margin-bottom: -2px;
}

/* variables have many editable fields stacked vertically, so we need to align by first line */
.ant-table-row.model--variable > td {
  vertical-align: top;
}

.ant-table-row.model--variable > td .table-actions {
  margin-top: 8px;
}

.test-options {
  margin: 16px 0;
}