 .section--welcome {
  height: calc(100vh - 155px);
}

.banner form {
  width: 100%;
  max-width: 400px;
}

.input-slot
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 3px;
}

.input-field label {
  font-size: 1.5rem;
  padding: 4px 0;
  display: block;
  color: rgba(255,255,255, .9);
}


.input-slot {
  margin-top: 8px;
  margin-bottom: 16px;
}

.form--join {
  margin: 32px 0;
  display: flex;
  flex-flow: column;
}

.input-slot input {
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
    padding-bottom: 11px;

    flex-grow: 1;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid rgba(255,255,255, .7);
    box-shadow: none;
    color: white;
    border-radius: 3px;
}

.input-slot input:invalid {
  border-color: #670c07;
}
.input-slot .help {
  display: none;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #670c07;
}
.input-slot input:invalid + .help {
  display: block;
}

.input-slot input::placeholder {
  color: rgba(255,255,255, .8);
}

.is-visible {
  display: block !important;
}

.section--welcome .container, .banner {
  height: 100%;
}

.banner {
  justify-content: center;
}